<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLESS&WORSHIP</title>
        <link rel="stylesheet" href="/static/css/cat_style.css">
        <link rel="icon" href="/static/img/Vector1.svg" type="image/x-icon">
</head>
<body>
    <header style="height: 413px" class="">
        <div class="header-cont">
            <div class="menu-btn-cont">
                <div id="menu-btn" class="menu-btn"><div><div class="bars"></div></div></div>
            </div>
            <div class="site-name">BLESS</br>&WORSHIP</div>
            <div class="menu-area" style="height: 73px">
                <ul id="menu-main-menu" class="main-menu-top">
                    <li><a href="/market/main">ГЛАВНАЯ</a></li>
                    <li><a href="/market/catalog">КАТАЛОГ</a></li>
                    <li><a href="/market/checkout">КОРЗИНА</a></li>
                    <!-- <li><a href="fav.html">ИЗБРАННОЕ</a></li> -->
                    <li><a href="/market/about">О НАС</a></li>
                    <li><a href="/market/contacts">КОНТАКТЫ</a></li>
                    <div class="log">
                        <a href="/accounts/login/">Войти</a>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div>
            <div class="main">
                <div class="main-cat">
                    <div class="main-cat-head">
                        <h3>Корзина</h3>
                    </div>
                    <div class="ifempty">
                        <p>В корзине нет товаров</p>
                        <a href="/market/catalog">Перейти в каталог и начать покупки</a>
                    </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-left">
                <img src="/static/img/Полоскафутера.svg" alt="">
                <h4>2023<br>© Bless&Worship</h4>
                <p>Все права защищены</p>
                <p style="max-width: 200px;">Копирование и использование данных с сайта без разрешения правообладателей запрещены</p>
            </div>
            <img src="/static/img/VectorFoot.svg" alt="">
        </div>
    </footer>
<script type="text/javascript" src="/static/css/jquery.js"></script>
<script type="text/javascript" src="/static/css/slick.min.js"></script>
<script type="text/javascript" src="/static/css/main.js"></script>
<!-- Script -->
<script src="/static/css/script.js"></script>
</body>
</html>
