<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLESS&WORSHIP</title>
        <link rel="stylesheet" href="css/log_style.css">
        <link rel="icon" href="img/Vector1.svg" type="image/x-icon">
</head>
<body>
    <header style="height: 413px" class="">
        <div class="header-cont">
            <div class="menu-btn-cont">
                <div id="menu-btn" class="menu-btn"><div><div class="bars"></div></div></div>
            </div>
            <div class="site-name">BLESS</br>&WORSHIP</div>
            <div class="menu-area" style="height: 73px">
                <ul id="menu-main-menu" class="main-menu-top">
                    <li><a href="index.html">ГЛАВНАЯ</a></li>
                    <li><a href="market/catalog.html">КАТАЛОГ</a></li>
                    <li><a href="checkout.html">КОРЗИНА</a></li>
                    <!-- <li><a href="fav.html">ИЗБРАННОЕ</a></li> -->
                    <li><a href="market/aboutus.html">О НАС</a></li>
                    <li><a href="contacts.html">КОНТАКТЫ</a></li>
                    <div class="log">
                        <a href="log.html">Войти</a>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div>
            <div class="main">
                <div class="main-cat">
                    <div class="main-cat-head">
                        <h3>Авторизация</h3>
                    </div>
                    <div class="ifempty">
                        <p>Войдите, если уже были здесь, или зарегистриуйтесь</p>
                        <div class="logors">
                            <a href="login.html"><img src="img/Войти.svg" alt=""></a>
                            <a href="signup.html"><img src="img/Зарегистрироваться.svg" alt=""></a>
                        </div>
                    </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="footer-left">
                <img src="img/Полоскафутера.svg" alt="">
                <h4>2023<br>© Bless&Worship</h4>
                <p>Все права защищены</p>
                <p style="max-width: 200px;">Копирование и использование данных с сайта без разрешения правообладателей запрещены</p>
            </div>
            <img src="img/VectorFoot.svg" alt="">
        </div>
    </footer>
<script type="text/javascript" src="css/jquery.js"></script>
<script type="text/javascript" src="css/slick.min.js"></script>
<script type="text/javascript" src="css/main.js"></script>  
<!-- Script -->
<script src="css/script.js"></script> 
</body>
</html>